name: Build docker wine

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build Docker image
        run: |
          docker build -t ahmadreza1383/scottyhardy-docker-wine:latest .

      - name: Push Docker image
        run: |
          docker push ahmadreza1383/scottyhardy-docker-wine:latest
